<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/style.css">
        <title>DiscuMate</title>
    </head>
    <body class="sidepanel">
        <h1>Riwayat Diskusi</h1>
        <div class="discussion-info">
            <div class="card">
                <div class="discussion-count">
                    <h3>Diskusi Dibalas:</h3>
                    <p id="replied-discussion-count">0</p>
                </div>
                <div id="replied-discussion-courses"></div>
            </div>
            <div class="card">
                <div class="discussion-count">
                    <h3>Diskusi diselesaikan:</h3>
                    <p id="finished-discussion-count">0</p>
                </div>
                <div id="finished-discussion-courses"></div>
            </div>
        </div>
        <button>Copy Results</button>
        <button id="user-activities">User Activities</button>
        <script src="sidepanel.js" type="module"></script>
    </body>
</html>
